<!DOCTYPE html>
<html>
    <head>
        <title>
            ChordStrikers - Master Guitar Chords
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <h1>Welcome to ChordStrikers!</h1>
        <p>
            Your one-stop solution for learning and mastering guitar chords.
        </p>
        <p>
            Explore our resources, tutorials, and community forums to enhance your guitar skills.
        </p>
        <footer>
            <p>
                tbd
            </p>
        </footer>
</html>